{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Category
{% endblock title %}


{% block content %}
<h1>Категории </h1>
{% if category_news_list %}
    <table>
        {% load cache %}
        {% cache 60 posts%}
        <tr>
            <td> Категория </td>
        </tr>
        {% for post in category_news_list %}
        <tr>
               <td>{% for category in new.category.all %}
               <a href="{% url 'category_list' category.id %}"> {{ category }}</a>
               {% endfor %}
               </td>
        </tr>
        {% endfor %}
        {% endcache %}
    </table>
{% else %}
<h2> Категорий нет </h2>
{% endif %}
{% endblock content %}